
  
  a{
    text-decoration: none;
    text-decoration-color: white;
  }

  .welcome{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .wel1{
    text-align: center;
    color: rgb(255, 255, 255);
    font: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .user{
    text-align: center;
    
  }
  
  .color{
    
    border-radius: 5%;
  }
  
  .good{
    text-align: right;
    color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100%;
    
  }
  .clock{
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .Task{
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
  }
  .Task1{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
  color: rgb(0, 0, 0);
  }
  
  .plus{
    text-align: right;
  }
  .good1{
    text-align: left;
    color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 110%;
  }
  .good2{
    text-align: left;
    color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 110%;
  }
  
  .good3{
    text-align: left;
    color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 110%;
  }
  .good4{
    text-align: left;
    color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 110%;
  }
  .good5{
    text-align: left;
    color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 110%;
  }

  .profile{
      border-radius: 20%;
  }
 

  .avatar{
    float: right;
  }  


  .background{
    --background: url(../../assets/crazy.jpg) 0 0/100% 100% no-repeat;
  }
  .Home{
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
  }

  .list{
    background-image: url(../../assets/background.jpg);
    border-radius: 5%;
    margin-top: 10%;
  }

  .head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
  }