a{
    text-decoration: none;
    text-decoration-color: white;
  }

  
  .welcome{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .wel{
    text-align: center;
    color: rgb(0, 0, 0);
    font: x-large;
    
  }
  
  
  .down{
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  .sign{
    color: red;
  }
  
  h5{
      color: rgb(0, 0, 0);
  }
  
  .user{
    float: right;
  }

  .background{
    --background: url(../../assets/background.jpg) 0 0/100% 100% no-repeat;
  }
